<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'project/style.css' %}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="menu">
        <div class="menu-link">
          {%if user.is_authenticated %} Hello, {{user.username}}.
          <a href="{% url 'users:logout' %}"> Log out</a> {%else%}
          <a><a href="{% url 'users:register' %}">Register</a> --OR--</a>
          <a href="{% url 'users:login' %}">Login</a> {%endif%}
        </div>

        <div class="menu-link">
          <a href="{% url 'project:listevents' %}">
            View Events
          </a>
        </div>

        <div class="menu-link">
          <a href="{% url 'project:main' %}">
            arranged schedule
          </a>
        </div>

        <div class="menu-link">
          <a href="{% url 'project:new_event' %}">
            add new event
          </a>
        </div>
      </div>
    </div>

    <div class="heading"><h2>Welcome to your scheduler</h2></div>
    <div class="cont">
    <div class="description">Scheduler is a tool that allows you to keep track of all your events using a clean and simple interface. 
      In the case where there you have many overlapping events you want to attend, Scheduler can help you sort out your options. 
      In a time like this where many classes are moving online, online learners can often feel isolated, so we also created a blog post 
      feature that allows people to share their online learning experience and connect with other online learners.</div>
    </div> 
      <p>

        <div class="menu-link" style="text-align: center">
        <a href="{% url 'project:blog' %}">
          See The Student Blog Page
        </a></div>
      </p>
  </body>
</html>
