<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'project/style.css' %}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="menu">
        <div class="menu-link">
          {%if user.is_authenticated %} Hello, {{user.username}}.
          <a href="{% url 'users:logout' %}"> Log out</a> {%else%}
          <a><a href="{% url 'users:register' %}">Register</a> --OR--</a>
          <a href="{% url 'users:login' %}">Login</a> {%endif%}
        </div>

        <div class="menu-link">
          <a href="{% url 'project:listevents' %}"> view events </a>
        </div>

        <div class="menu-link">
          <a href="{% url 'project:main' %}"> arranged schedule </a>
        </div>

        <div class="menu-link">
          <a href="{% url 'project:new_event' %}"> add new event </a>
        </div>
      </div>
    </div>
    <div class="heading">
      <h2>Welcome to your scheduler</h2>
    </div>

    <div class="description">
      <p><b>Events</b></p>
      {%for event in events%}
      <li>
        <b style="color: dodgerblue">{{event}}:</b> {{event.start_time}} ----
        {{event.end_time}} ------
        <a href="{% url 'project:editevent' event.id %}">Edit</a> -----
        <a href="{% url 'project:deleteevent' event.id%}">delete this event</a>
      </li>
      {%empty%}
      <p>You haven't added any events yet</p>
      {%endfor%}
    </div>

    <div class="links">
      <p>
        <a href="{% url 'project:new_event' %}"> Add new event </a>
      </p>
      {%if events%}
      <p>
        <a href="{% url 'project:main' %}"> See Arranged Schedule </a>
      </p>
      <p>
        <a href="{% url 'project:delete' %}"> Delete <b>ALL</b> events </a>
      </p>
      {%endif%}
    </div>
    <div class="home">
      <p>&nbsp;</p>
      <a href="{% url 'project:index' %}"> Home </a>
    </div>
  </body>
</html>
